<div class="wrapper">
<div class="card">
  <div class="card-header">Set New Password</div>
  <div class="card-body">
    <form [formGroup]="regValidations">
      <div class="form-group">
        <input
          #emai
          formControlName="email"
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
        />
      </div>

      @if (email.errors?.["required"]&& email.touched) {
      <div>
        <p class="text-danger">Required</p>
      </div>
      } @if ( email.touched&& email.errors?.["pattern"]) {
      <div>
        <span class="text-danger">
          email must E-mail your&#64;example.com
        </span>
      </div>
      }
      <div class="form-group">
        <input
          formControlName="password"
          #password
          type="password"
          class="form-control"
          id="new-password"
          placeholder="New password"
        />
      </div>
      @if (Password.errors?.["required"]&&Password.touched) {
      <div>
        <p class="text-danger">Required</p>
      </div>
      } @if ( Password.touched&&Password.errors?.["pattern"]) {
      <div>
        <span class="text-danger">
          Password must contain at least one uppercase letter,<br />
          one lowercase letter, one number,<br />
          one special character, <br />and be between 8 to 30 characters long.
        </span>
      </div>
      }
      <div class="form-group">
        <input
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          id="confirm-password"
          placeholder="Confirm new password"
        />
      </div>

      @if (Password2.errors?.["required"]&&Password2.touched) {
      <div>
        <p class="text-danger">Required</p>
      </div>
      } @if(regValidations.errors?.["passwordNotMatch"] &&Password2.touched ) {

      <div>
        <p class="text-danger">passwordNotMatch</p>
      </div>
      }
      <button
        (click)="submit()"
        routerLink="/"
        type="submit"
        class="btn btn-set-password"
      >
        Set Password
      </button>
    </form>
  </div>
</div>
</div>
