<div class="home p-5 container d-flex flex-column align-items-center">
  <div><h2>Register</h2></div>
  <div>
    <form [formGroup]="registerValidation" action="">
      <div class="d-flex flex-column">
        <div class="d-flex flex-column-reverse">
          <input
            formControlName="name"
            [value]="inputName"
            class="inputWidthLong"
            type="text"
            id="name"
          />
          <label id="name" for="name">Name</label>
        </div>
        <div class="d-flex m-2 justify-content-end">
          <!-- <div style="visibility: hidden"><span> valid name address</span></div> -->

          @if (nameValid.errors?.["required"]&&nameValid.touched) {
          <div>
            <p class="text-danger">Name Required</p>
          </div>
          }
          <!-- @if (!nameValid.errors?.["pattern"]) {
          <div>
            <p class="text-danger">Name must be text</p>
          </div>
          }  -->
          @if (nameValid.errors?.['minlength']) {
          <div>
            <p class="text-danger">Name lentgh must be greater than 5</p>
          </div>
          }
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex flex-column-reverse">
          <input
            formControlName="email"
            class="inputWidthLong"
            type="email"
            id="Email"
            title="error"
          />
          <label for="Email">Email</label>
        </div>
        <div class="d-flex m-2 justify-content-end">
          <!-- <span> valid Email address</span> -->
          @if (emailValid.errors?.["required"]&&emailValid.touched) {
          <div>
            <p class="text-danger">Email Required</p>
          </div>
          } @if (emailValid.errors?.["pattern"]&&emailValid.touched) {
          <div>
            <p class="text-danger">
              invaild Email pattern enter example aaaa.aaaa&#64;aaaa
            </p>
          </div>
          }
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex flex-column-reverse">
          <input
            formControlName="phone"
            class="inputWidthLong"
            type="text"
            id="PhoneNumber"
          />
          <label for="PhoneNumber">Phone Number</label>
        </div>
        <div class="d-flex m-2 justify-content-end">
          <!-- <span> valid Phone Number</span> -->
          @if (phoneValid.errors?.["required"]&&phoneValid.touched) {
          <div>
            <p class="text-danger">phone Required</p>
          </div>
          } @if (phoneValid.errors?.["pattern"]&&phoneValid.touched) {
          <div>
            <p class="text-danger">invaild phone pattern</p>
          </div>
          }
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex flex-column-reverse">
          <input class="inputWidthLong" type="password" id="Password" />
          <label for="Password">Password</label>
        </div>
        <div class="d-flex m-2 justify-content-end">
          <span> valid Password </span>
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex flex-column-reverse">
          <input class="inputWidthLong" type="password" id="Password" />
          <label for="Password">Current Password</label>
        </div>
        <div class="d-flex m-2 justify-content-end">
          <span> valid Password </span>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-end">
        <div class="d-flex flex-column-reverse">
          <input class="inputWidthShort" id="contry" type="text" />
          <label for="contry">Country</label>
        </div>
        <div class="d-flex mx-5 flex-column-reverse">
          <input class="inputWidthShort" id="City" type="text" />
          <label for="City">City</label>
        </div>
        <div class="d-flex flex-column-reverse">
          <input class="inputWidthShort" id="Street" type="text" />
          <label for="Street">Street</label>
        </div>
      </div>
      <div class="d-flex">
        <div class="d-flex flex-column-reverse">
          <select class="inputWidthShort" id="days">
            <option *ngFor="let day of days" [value]="day">
              {{ day }}
            </option></select
          ><label for="Year">Year</label>
        </div>
        <div class="d-flex flex-column-reverse mx-5">
          <select id="months" class="inputWidthShort" name="months">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
          <label for="months">Month:</label>
        </div>
        <div class="d-flex flex-column-reverse">
          <select class="inputWidthShort" id="years">
            <option *ngFor="let year of years" [value]="year">
              {{ year }}
            </option></select
          ><label for="Year">Year</label>
        </div>
      </div>
      <div class="d-flex my-2">
        <div class="d-flex flex-column">
          <div
            class="inputWidthShort d-flex justify-content-center align-items-center"
            style="height: 3rem; font-size: larger"
          >
            <label>GENDER</label>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div
            class="inputWidthShort bgc d-flex justify-content-center align-items-center mx-5"
          >
            <input type="radio" name="male" id="male" />
            <label for="male">Male</label>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div
            class="inputWidthShort bgc d-flex justify-content-center align-items-center"
          >
            <input type="radio" name="female" id="female" />
            <label for="female">Female</label>
          </div>
        </div>
      </div>
      <div class="d-flex my-5 justify-content-center">
        <input
          (click)="submit()"
          class="d-flex justify-content-center align-items-center bgc w-25"
          type="submit"
          value=" Sign UP"
          style="border: none"
        />
      </div>
    </form>
  </div>
</div>
