<div class="edit-wrapper bg-light">
  <h1>User Edit</h1>
  <form>
    <div class="form-group">
      <label for="user-name">User Name</label>
      <input
        type="text"
        class="form-control"
        id="Username"
        placeholder="Username"
      />
    </div>
    <label for="options">Role</label>
    <select class="form-control" id="options">
      <option>Admin</option>
      <option>User</option>
    </select>
    <div class="form-group">
      <label for="Email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="Email"
        placeholder="Email address"
      />
    </div>
    <div class="form-group">
      <label for="Email">Phone</label>
      <input type="text" class="form-control" id="Phone" placeholder="Phone" />
    </div>
    <label for="options">Status</label>
    <!-- <select class="form-control" id="options">
            <option>Active</option>
            <option>Deactive</option>
          </select> -->
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="exampleRadios"
        id="exampleRadios1"
        value="option1"
        checked
      />
      <label class="form-check-label" for="exampleRadios1"> Active </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="exampleRadios"
        id="exampleRadios2"
        value="option2"
      />
      <label class="form-check-label" for="exampleRadios2"> Deactive </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
