<div class="wrapper">
<div class="card">
  <div class="card-header">Verify Code</div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <input
          #code
          type="text"
          class="form-control"
          id="code"
          placeholder="Verification code"
        />
      </div>
      <button
        routerLink="/newpassword"
        type="submit"
        li
        class="btn btn-verify-code"
        (click)="sendVrify(code.value)"
      >
        Verify
      </button>
    </form>
  </div>
</div>
</div>
