<div class="sideContainer">
  <div class="sideWrapper">
    <div class="tabsWrapper">
      <button class="tab" routerLink="dashboard">Dashboard</button>
      <div class="tab">
        <button routerLink="userslist">Users List</button>
      </div>
      <button class="tab" routerLink="content">Content</button>
      <button class="tab" routerLink="Category">Category</button>
      <button class="tab" routerLink="products">Products</button>

      <button class="tab" routerLink="test">test</button>
    </div>
  </div>
</div>
